*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
	min-height: 100vh;
	background: linear-gradient(to right top,#AC96E9 , #DFD2FE);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Cinzel', serif;
}


.portfolio{
	background: white;
	min-height:80vh;
	width:60%;
	background: linear-gradient(to right bottom , rgba(255,255,255,0.7), rgba(255,255,255,0.3));
	border-radius:2rem;
	display:flex;
	z-index:2;
	backdrop-filter:blur(1rem);
	
}


.circle
{
	background: white;
	background: linear-gradient(to right bottom , rgba(255,255,255,0.9), rgba(255,255,255,0.5));
	height:10rem;
	width:10rem;
	position:absolute;
	bottom:5%;
	right:15%;
	border-radius:5rem;
	
}

.dashboard
{
	flex:1;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: space-evenly;
	text-align:center;
	background: linear-gradient(to right bottom , rgba(255,255,255,0.7), rgba(255,255,255,0.3));
	border-radius:2rem;
}



.timeline
{
	margin-bottom:50px;
}

.timeline h5
{
	background: linear-gradient(to right bottom , rgba(255,255,255,0.7), rgba(255,255,255,0.3));
	border:none;
	border-radius:2rem;
	cursor:pointer;
}
.timeline h5:hover {
  background-color: #DFD2FE;
}
.cards
{
	display:flex;
	flex-direction:column;
	flex: 3;
	
}
.cards p
{
	margin-top:30px;
}
.bio
{
	margin-top:-32px;
	background:linear-gradient(to right top,#AC96E9 , #DFD2FE);
	border-radius:2rem;
	color:white;
}



#summary p
{

	margin:2rem 3rem;
	display:flex;
	flex-direction:column;
	background:linear-gradient(to left top , rgba(255,255,255,0.2), rgba(255,255,255,0.5));
	border-radius:1rem;
	box-shadow:6px 6px 20px rgba(255,255,255,0.2);
	height:220px;
}
#education
{	
	display:none;
	justify-content:space-evenly;*/
}
#college
{
	margin:0rem 5rem;
	display:flex;
	flex-direction:column;
	background:linear-gradient(to left top , rgba(255,255,255,0.2), rgba(255,255,255,0.5));
	border-radius:1rem;
	
	padding:2rem;
	box-shadow:6px 6px 20px rgba(255,255,255,0.2);

}
#experience
{
	display:none;
	
}
.internship
{
	margin:0rem 5rem;
	padding:2rem;
	display:flex;
	flex-direction:column;
	background:linear-gradient(to left top , rgba(255,255,255,0.2), rgba(255,255,255,0.5));
	border-radius:1rem;
	box-shadow:6px 6px 20px rgba(255,255,255,0.2);

}
#projects
{
	display:none;
}
.tech_used
{

}
.titles_project
{
	margin:0rem 5rem;
	padding:2rem;
	display:flex;
	flex-direction:column;
	background:linear-gradient(to left top , rgba(255,255,255,0.2), rgba(255,255,255,0.5));
	border-radius:1rem;
	box-shadow:6px 6px 20px rgba(255,255,255,0.2);

}

#skills
{
		display:none;
}
.language
{
	margin:0rem 5rem 2rem;
	display:flex;
	flex-direction:column;
	background:linear-gradient(to left top , rgba(255,255,255,0.2), rgba(255,255,255,0.5));
	border-radius:1rem;
	box-shadow:6px 6px 20px rgba(255,255,255,0.2);
}
#others
{
	display:none;
}
#certificate
{
	margin:3rem 5rem 2rem;
	display:flex;
	flex-direction:column;
	background:linear-gradient(to left top , rgba(255,255,255,0.2), rgba(255,255,255,0.5));
	border-radius:1rem;
	box-shadow:6px 6px 20px rgba(255,255,255,0.2);
}

#upwork
{
	margin:3rem 5rem 2rem;
	display:flex;
	flex-direction:column;
	background:linear-gradient(to left top , rgba(255,255,255,0.2), rgba(255,255,255,0.5));
	border-radius:1rem;
	box-shadow:6px 6px 20px rgba(255,255,255,0.2);
}

h4
{
	color:#5E36CB;
	font-weight:600;
	font-size:3rem;
	opacity:0.8;
	text-align:center;
}
h5
{
	color:#5D38C4;
	font-weight:200;
	opacity:2.0;

}

h3
{
	color:#5E36CB;
	font-weight:300;
	font-size:2rem;
}
p
{
	text-align:center;
}

#linkedin
{
    
    border-radius: 50%; 
    border:none;
    width: 50px;
    height: 50px;
    background: white;
    background: linear-gradient(to right bottom , rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    position:absolute;
    top:1%;
    left:55%;
    cursor:pointer;
    
    
}
#github
{
    
    border-radius: 50%; 
    border:none;
    width: 50px;
    height: 50px;
    background: white;
    background: linear-gradient(to right bottom , rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    position:absolute;
    top:1%;
    left:65%;
    cursor:pointer;
    
    
}
#gmail
{
    
    border-radius: 50%; 
    border:none;
    width: 50px;
    height: 50px;
    background: white;
    background: linear-gradient(to right bottom , rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    position:absolute;
    top:1%;
    left:75%;
    cursor:pointer;
    
    
}

@media only  screen and (max-width: 800px){
	
 	.portfolio 
 	{
 		width: 100%;
 		overflow:scroll;
 		
 	}
 	.dashboard 
 	{
 		margin-top:5px;

 	}
 	
 	#linkedin
 	{
 		left:35%;
 	}
 	#github
 	{
 		left:60%;
 	}
 	#gmail
 	{
 		left:85%;
 	}
 	 .bio
	{
	 	margin-top:-80px;
	}
	#college
	{
		padding:0rem;
	}
	.language
	{
		margin: 0 0 0 0rem;
	}
 }

.splash_screen
 {	
 	position:fixed;
 	top:0;
 	left:0;
 	width:100%;
 	height:100%;
 	background: linear-gradient(to right bottom , rgba(255,255,255,0.9), rgba(255,255,255,2.0));
 	z-index:7;
 	color:#AC96E9;
 }
